.card-body {
    flex: 0;
}

.card-title {
    font-size: 1.25rem;
}

@media only screen and (max-width: 768px) {
    .card-title {
        font-size: 1rem;
    }
}

.inv {
    left: 2%;
    margin-top: 1%;
    width: 18rem;
}

@media only screen and (max-width: 768px) {
    .inv {
        width: 90%;
        left: 5%;
    }
}