.container {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.945);
  border-radius: 10%;
  padding: 5%;
  max-width: 80%;
  box-shadow: 0 0 10px 2px;
  margin: 0 auto;
}

@media only screen and (max-width: 768px) {
.container {
  width: 80%;
}
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 10%;
  margin-top: 20px;
}

@media only screen and (max-width: 768px) {
.btn-grid {
  grid-template-columns: repeat(1, auto);
}
}

.btn {
  background-color: rgb(91, 184, 72);
  border: 1px solid blue;
  border-radius: 10%;
  padding: 10px 20px;
  color: black;
  outline: none;
}

.btn:hover {
  border-color: black;
}