.enemy-health-bar {
    display: inline-flex;
    padding: 0;
    margin: 0.1rem 0;
}

.card-body {
    flex: 0;
}

.card-title {
    font-size: 1.25rem;
}

.enemy-card {
    width: 11.5rem;
    left: 5%;
    margin-top: 1%;
    height: 96%
  }